* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

:root{
    --main-bg: hsl(222, 26%, 31%);
    --keypad-bg: hsl(223, 31%, 20%);
    --screen-bg: hsl(224, 36%, 15%);
    --toggle-btn:  hsl(6, 63%, 50%);
    --del-reset-bg: hsl(225, 21%, 49%);
    --del-reset-shadow: hsl(224, 28%, 35%);
    --equals-bg: hsl(6, 63%, 50%);
    --equals-shadow: hsl(6, 70%, 34%);
    --key-bg: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --result-color: hsl(0, 0%, 100%);
    --text2: hsl(0, 0%, 100%);
    --text1: hsl(221, 14%, 31%);
    --text-header: hsl(0, 0%, 100%);
    --equals-text: hsl(0, 0%, 100%);
    font-family: 'League Spartan', sans-serif;
}

button{
    border: none;
}

.body{
    background-color: var(--main-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.header{
    display: flex;
    color: var(--text-header);
    justify-content: space-between;
    height: 10vh;
    width: 300px;
}
    @media all and (min-width: 375px){
        .header{
            width: 380px;
    }
    
}

.header h1{
    margin-top: 35px;
}

.nav-left{
    font-size: 20px;
}

.nav-right{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    gap: 20px;
}

.nav-right .title{
    text-transform: uppercase;
    font-size: 12px;
}

.nav-right .numbers{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5px;
    font-size: 12px;
    margin: 0 7px 0 5px;
}

.tri-toggle{
    width: 55px;
    height: 17px;
    background-color: var(--keypad-bg);
    border-radius: 10px;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
}

.toggle-button{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    appearance: none;
    background-color: var(--toggle-btn);
    opacity: 0;
    position:relative;
    top: 2px;
}

.toggle-button:hover{
    cursor: pointer;
}

#one{
    opacity: 1;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}    
    @media all and (min-width: 375px){
        main{
            width: 380px;
    }
}
.screen{
    height: 12vh;
    background-color: var(--screen-bg);
    border-radius: 5px;
    color: var(--result-color);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.screen-up-value{
    margin: 15px 10px 0 0;
    font-size: 20px;
}

.screen-down-value{
    margin: 0 10px 10px 0;
    font-size: 30px;
}

.keypad{
    border-radius: 5px;
    padding: 10px 0 10px 0;
    height: 60vh;
    background-color: var(--keypad-bg);
    display: grid;
    padding: 10px 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.key{
    background-color: var(--key-bg);
    border-radius: 5px;
    box-shadow:  0px 3px 1px 0px var(--key-shadow);
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text1);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.key:hover{
    cursor: pointer;
}

.del{
    background-color: var(--del-reset-bg);
    border-radius: 5px;
    box-shadow: 0px 3px 1px 0px var(--del-reset-shadow);
    margin: 10px 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text2);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.del:hover{
    cursor: pointer;
}

.reset{
    background-color: var(--del-reset-bg);
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 0px 3px 1px 0px var(--del-reset-shadow);
    margin: 10px 5px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text2);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.reset:hover{
    cursor: pointer;
}

.equals{
    background-color: var(--equals-bg);
    border-radius: 5px;
    grid-column-start: 3;
    grid-column-end: 5;
    box-shadow: 0px 3px 1px 0px var(--equals-shadow);
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--equals-text);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

.equals:hover{
    cursor: pointer;
}

.attribution{
    font-size: 11px; 
    text-align: center;
    color: var(--text2);
    margin-top: 40px;
}
.attribution a{
    color: var(--text2);
}

.attribution a:hover{
    color: var(--toggle-btn);
}


